## Data Collection - Mehmet ##

### Momentum Indicators

In [1]:
import ta 
import pandas as pd
import numpy as np

In [2]:
data_path = "../raw_data/BTCUSDT_1h.csv"
df = pd.read_csv(data_path)

In [3]:
!pwd

/home/mehmet/code/MehmetSever09/assist_trader/notebook

In [4]:
df.head()

             timestamp      open      high       low     close   volume
0  2019-09-08 20:00:00  10000.00  10000.00  10000.00  10000.00    0.002
1  2019-09-08 21:00:00  10000.00  10000.00  10000.00  10000.00    0.000
2  2019-09-08 22:00:00  10344.77  10357.53  10337.43  10340.12  471.659
3  2019-09-08 23:00:00  10340.12  10368.64  10334.54  10351.42  583.271
4  2019-09-09 00:00:00  10351.42  10391.90  10324.77  10391.90  689.759

In [5]:
df_close = df["close"]
df_open = df["open"]
df_high = df["high"]
df_low = df["low"]

In [6]:
# AVERAGE DIRECTIONAL INDEX
df["adx"] = ta.trend.ADXIndicator(df_high, df_low, df_close, window=14).adx()
df["adx_neg"] = ta.trend.ADXIndicator(df_high, df_low, df_close, window=14).adx_neg()
df["adx_pos"] = ta.trend.ADXIndicator(df_high, df_low, df_close, window=14).adx_pos()
df

/home/mehmet/.pyenv/versions/assist_trader/lib/python3.10/site-packages/ta/trend.py:780: RuntimeWarning: invalid value encountered in double_scalars
  dip[idx] = 100 * (self._dip[idx] / value)
/home/mehmet/.pyenv/versions/assist_trader/lib/python3.10/site-packages/ta/trend.py:785: RuntimeWarning: invalid value encountered in double_scalars
  din[idx] = 100 * (self._din[idx] / value)

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897

In [7]:
df["aroon_down"] = ta.trend.AroonIndicator(df_close, window=14).aroon_down()
df["aroon"] = ta.trend.AroonIndicator(df_close, window=14).aroon_indicator()
df["aroon_up"] = ta.trend.AroonIndicator(df_close, window=14).aroon_up()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,aroon,aroon_up
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,28.571429,85.714286
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,28.571429,78.571429
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,-28.571429,71.428571
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,-35.714286,64.285714
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,-42.857143,57.142857

In [8]:
df["cci"] = ta.trend.CCIIndicator(df_high, df_low, df_close, window=20, constant= 0.015).cci()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,aroon,aroon_up,cci
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,28.571429,85.714286,-5.588970
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,28.571429,78.571429,-48.466388
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,-28.571429,71.428571,-188.788273
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,-35.714286,64.285714,-185.000256
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,-42.857143,57.142857,-309.864923

In [9]:
df["dpo"] = ta.trend.DPOIndicator(df_close, window=20).dpo()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,aroon,aroon_up,cci,dpo
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,28.571429,85.714286,-5.588970,2.595
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,28.571429,78.571429,-48.466388,0.235
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,-28.571429,71.428571,-188.788273,-19.620
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,-35.714286,64.285714,-185.000256,-4.410
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,-42.857143,57.142857,-309.864923,-14.960

In [10]:
df["ema_14"] = ta.trend.EMAIndicator(df_close, window=14).ema_indicator()
df["ema_20"] = ta.trend.EMAIndicator(df_close, window=20).ema_indicator()
df["ema_50"] = ta.trend.EMAIndicator(df_close, window=50).ema_indicator()
df["ema_100"] = ta.trend.EMAIndicator(df_close, window=100).ema_indicator()
df["ema_200"] = ta.trend.EMAIndicator(df_close, window=200).ema_indicator()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,aroon,aroon_up,cci,dpo,ema_14,ema_20,ema_50,ema_100,ema_200
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,28.571429,85.714286,-5.588970,2.595,27170.949866,27158.463184,27122.053192,27141.808044,27133.328387
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,28.571429,78.571429,-48.466388,0.235,27166.663217,27156.590500,27122.709929,27141.748479,27133.382831
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,-28.571429,71.428571,-188.788273,-19.620,27155.761455,27149.762833,27121.227187,27140.622766,27132.900415
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,-35.714286,64.285714,-185.000256,-4.410,27142.019928,27140.518754,27118.539846,27138.881721,27132.102401
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,-42.857143,57.142857,-309.864923,-14.960,27121.750604,27126.183634,27113.499068,27135.933569,27130.688447

In [11]:
df["kst"] = ta.trend.KSTIndicator(df_close, roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst()
df["kst_diff"] = ta.trend.KSTIndicator(df_close, roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_diff()
df["kst_sig"] = ta.trend.KSTIndicator(df_close, roc1= 10, roc2= 15, roc3= 20, roc4= 30,
                                  window1= 10, window2= 10, window3= 10, window4= 15, nsig= 9).kst_sig()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,cci,dpo,ema_14,ema_20,ema_50,ema_100,ema_200,kst,kst_diff,kst_sig
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,-5.588970,2.595,27170.949866,27158.463184,27122.053192,27141.808044,27133.328387,3.474986,-0.966262,4.441248
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,-48.466388,0.235,27166.663217,27156.590500,27122.709929,27141.748479,27133.382831,3.084717,-1.079134,4.163851
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,-188.788273,-19.620,27155.761455,27149.762833,27121.227187,27140.622766,27132.900415,2.546818,-1.326432,3.873251
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,-185.000256,-4.410,27142.019928,27140.518754,27118.539846,27138.881721,27132.102401,1.983873,-1.568877,3.552749
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,-309.864923,-14.960,27121.750604,27126.183634,27113.499068,27135.933569,27130.688447,1.163610,-2.005523,3.169133

In [12]:
df["macd_line"] = ta.trend.MACD(df_close, window_slow= 26, window_fast= 12, window_sign= 9).macd()
df["macd_signal"] = ta.trend.MACD(df_close, window_slow= 26, window_fast= 12, window_sign= 9).macd_signal()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,ema_14,ema_20,ema_50,ema_100,ema_200,kst,kst_diff,kst_sig,macd_line,macd_signal
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,27170.949866,27158.463184,27122.053192,27141.808044,27133.328387,3.474986,-0.966262,4.441248,29.015509,29.073625
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,27166.663217,27156.590500,27122.709929,27141.748479,27133.382831,3.084717,-1.079134,4.163851,23.983743,28.055648
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,27155.761455,27149.762833,27121.227187,27140.622766,27132.900415,2.546818,-1.326432,3.873251,15.468442,25.538207
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,27142.019928,27140.518754,27118.539846,27138.881721,27132.102401,1.983873,-1.568877,3.552749,6.051970,21.640960
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,27121.750604,27126.183634,27113.499068,27135.933569,27130.688447,1.163610,-2.005523,3.169133,-6.396286,16.033511

In [13]:
df["mass_index"] = ta.trend.MassIndex(df_high, df_low, window_fast= 9, window_slow= 25).mass_index()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,ema_20,ema_50,ema_100,ema_200,kst,kst_diff,kst_sig,macd_line,macd_signal,mass_index
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,27158.463184,27122.053192,27141.808044,27133.328387,3.474986,-0.966262,4.441248,29.015509,29.073625,22.182831
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,27156.590500,27122.709929,27141.748479,27133.382831,3.084717,-1.079134,4.163851,23.983743,28.055648,22.439449
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,27149.762833,27121.227187,27140.622766,27132.900415,2.546818,-1.326432,3.873251,15.468442,25.538207,22.679318
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,27140.518754,27118.539846,27138.881721,27132.102401,1.983873,-1.568877,3.552749,6.051970,21.640960,22.794642
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,27126.183634,27113.499068,27135.933569,27130.688447,1.163610,-2.005523,3.169133,-6.396286,16.033511,23.049919

In [14]:
df["parabolic_sar"] = ta.trend.PSARIndicator(df_high, df_low, df_close, step= 0.02, max_step= 0.2).psar()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,ema_50,ema_100,ema_200,kst,kst_diff,kst_sig,macd_line,macd_signal,mass_index,parabolic_sar
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000.000000
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000.000000
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000.000000
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10000.000000
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10022.118400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,27122.053192,27141.808044,27133.328387,3.474986,-0.966262,4.441248,29.015509,29.073625,22.182831,27340.200000
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,27122.709929,27141.748479,27133.382831,3.084717,-1.079134,4.163851,23.983743,28.055648,22.439449,27335.416000
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,27121.227187,27140.622766,27132.900415,2.546818,-1.326432,3.873251,15.468442,25.538207,22.679318,27330.727680
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,27118.539846,27138.881721,27132.102401,1.983873,-1.568877,3.552749,6.051970,21.640960,22.794642,27317.498573
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,27113.499068,27135.933569,27130.688447,1.163610,-2.005523,3.169133,-6.396286,16.033511,23.049919,27304.798630

In [15]:
df["sma_14"]= ta.trend.SMAIndicator(df_close, window=14).sma_indicator()
df["sma_20"]= ta.trend.SMAIndicator(df_close, window=20).sma_indicator()
df["sma_50"]= ta.trend.SMAIndicator(df_close, window=50).sma_indicator()
df["sma_100"]= ta.trend.SMAIndicator(df_close, window=100).sma_indicator()
df["sma_200"]= ta.trend.SMAIndicator(df_close, window=200).sma_indicator()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,kst_sig,macd_line,macd_signal,mass_index,parabolic_sar,sma_14,sma_20,sma_50,sma_100,sma_200
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,10022.118400,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,4.441248,29.015509,29.073625,22.182831,27340.200000,27164.671429,27166.805,27074.210,27131.595,27202.5725
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,4.163851,23.983743,28.055648,22.439449,27335.416000,27163.792857,27161.065,27075.368,27126.888,27206.0505
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,3.873251,15.468442,25.538207,22.679318,27330.727680,27159.214286,27153.920,27078.108,27121.087,27209.2155
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,3.552749,6.051970,21.640960,22.794642,27317.498573,27150.878571,27148.710,27079.952,27114.645,27212.3255
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,3.169133,-6.396286,16.033511,23.049919,27304.798630,27138.642857,27142.060,27082.720,27107.702,27214.6260

In [16]:
df["stc"]= ta.trend.STCIndicator(df_close, window_slow= 50, window_fast= 23, cycle= 10, smooth1= 3, smooth2= 3).stc()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,macd_line,macd_signal,mass_index,parabolic_sar,sma_14,sma_20,sma_50,sma_100,sma_200,stc
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,10022.118400,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,29.015509,29.073625,22.182831,27340.200000,27164.671429,27166.805,27074.210,27131.595,27202.5725,61.706651
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,23.983743,28.055648,22.439449,27335.416000,27163.792857,27161.065,27075.368,27126.888,27206.0505,38.302308
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,15.468442,25.538207,22.679318,27330.727680,27159.214286,27153.920,27078.108,27121.087,27209.2155,19.151154
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,6.051970,21.640960,22.794642,27317.498573,27150.878571,27148.710,27079.952,27114.645,27212.3255,9.575577
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,-6.396286,16.033511,23.049919,27304.798630,27138.642857,27142.060,27082.720,27107.702,27214.6260,4.787789

In [17]:
df["trix"]= ta.trend.TRIXIndicator(df_close, window= 15).trix()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,macd_signal,mass_index,parabolic_sar,sma_14,sma_20,sma_50,sma_100,sma_200,stc,trix
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,10000.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,10022.118400,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,29.073625,22.182831,27340.200000,27164.671429,27166.805,27074.210,27131.595,27202.5725,61.706651,0.016418
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,28.055648,22.439449,27335.416000,27163.792857,27161.065,27075.368,27126.888,27206.0505,38.302308,0.015782
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,25.538207,22.679318,27330.727680,27159.214286,27153.920,27078.108,27121.087,27209.2155,19.151154,0.014471
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,21.640960,22.794642,27317.498573,27150.878571,27148.710,27079.952,27114.645,27212.3255,9.575577,0.012502
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,16.033511,23.049919,27304.798630,27138.642857,27142.060,27082.720,27107.702,27214.6260,4.787789,0.009703

In [18]:
df["vortex_ind_diff"] = ta.trend.VortexIndicator(df_high, df_low, df_close, window= 14).vortex_indicator_diff()
df["vortex_neg"] = ta.trend.VortexIndicator(df_high, df_low, df_close, window= 14).vortex_indicator_neg()
df["vortex_pos"] = ta.trend.VortexIndicator(df_high, df_low, df_close, window= 14).vortex_indicator_pos()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,sma_14,sma_20,sma_50,sma_100,sma_200,stc,trix,vortex_ind_diff,vortex_neg,vortex_pos
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,27164.671429,27166.805,27074.210,27131.595,27202.5725,61.706651,0.016418,0.065341,0.917674,0.983015
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,27163.792857,27161.065,27075.368,27126.888,27206.0505,38.302308,0.015782,0.031675,0.984213,1.015887
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,27159.214286,27153.920,27078.108,27121.087,27209.2155,19.151154,0.014471,-0.113904,1.006104,0.892200
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,27150.878571,27148.710,27079.952,27114.645,27212.3255,9.575577,0.012502,-0.173782,1.079289,0.905507
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,27138.642857,27142.060,27082.720,27107.702,27214.6260,4.787789,0.009703,-0.291848,1.094035,0.802186

In [19]:
df["wma_9"] = ta.trend.WMAIndicator(df_close, window=14).wma()
df["wma_20"] = ta.trend.WMAIndicator(df_close, window=20).wma()
df["wma_50"] = ta.trend.WMAIndicator(df_close, window=50).wma()
df["wma_100"] = ta.trend.WMAIndicator(df_close, window=100).wma()
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,sma_200,stc,trix,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,27202.5725,61.706651,0.016418,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,27206.0505,38.302308,0.015782,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,27209.2155,19.151154,0.014471,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,27212.3255,9.575577,0.012502,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,27214.6260,4.787789,0.009703,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782

In [20]:
df.to_csv("trend_ind_btc1h.csv")

### Merging Inflation rate to Bitcoin 1 Hour ###

In [23]:
df1 = pd.read_csv("../raw_data/SP500_price.csv")
df1

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jun 05, 2023","4,282.99","4,299.28","4,266.82","4,273.79","4,273.79","3,813,290,000"
1,"Jun 02, 2023","4,241.01","4,290.67","4,241.01","4,282.37","4,282.37","4,454,200,000"
2,"Jun 01, 2023","4,183.03","4,232.43","4,171.64","4,221.02","4,221.02","4,391,860,000"
3,"May 31, 2023","4,190.74","4,195.44","4,166.15","4,179.83","4,179.83","5,980,670,000"
4,"May 30, 2023","4,226.71","4,231.10","4,192.18","4,205.52","4,205.52","4,228,510,000"
...,...,...,...,...,...,...,...
996,"Jun 20, 2019","2,949.60","2,958.06","2,931.50","2,954.18","2,954.18","3,943,060,000"
997,"Jun 19, 2019","2,920.55","2,931.74","2,911.43","2,926.46","2,926.46","3,300,220,000"
998,"Jun 18, 2019","2,906.71","2,930.79","2,905.44","2,917.75","2,917.75","3,441,540,000"
999,"Jun 17, 2019","2,889.75","2,897.27","2,887.30","2,889.67","2,889.67","2,828,400,000"
1000,*Close price adjusted for splits.**Adjusted cl...,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1.dropna(inplace=True)

In [27]:
df1["Date"] = pd.to_datetime(df1["Date"], format = '%b %d, %Y')

In [32]:
df1 = df1.drop(["Open", "High", "Low", "Adj Close**", "Volume"], axis=1)
df1

          Date    Close*
0   2023-06-05  4,273.79
1   2023-06-02  4,282.37
2   2023-06-01  4,221.02
3   2023-05-31  4,179.83
4   2023-05-30  4,205.52
..         ...       ...
995 2019-06-21  2,950.46
996 2019-06-20  2,954.18
997 2019-06-19  2,926.46
998 2019-06-18  2,917.75
999 2019-06-17  2,889.67

[1000 rows x 2 columns]

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32756 entries, 0 to 32755
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        32756 non-null  object
 1   open             32756 non-null  float64
 2   high             32756 non-null  float64
 3   low              32756 non-null  float64
 4   close            32756 non-null  float64
 5   volume           32756 non-null  float64
 6   adx              32756 non-null  float64
 7   adx_neg          32756 non-null  float64
 8   adx_pos          32756 non-null  float64
 9   aroon_down       32743 non-null  float64
 10  aroon            32743 non-null  float64
 11  aroon_up         32743 non-null  float64
 12  cci              32737 non-null  float64
 13  dpo              32737 non-null  float64
 14  ema_14           32743 non-null  float64
 15  ema_20           32737 non-null  float64
 16  ema_50           32707 non-null  float64
 17  ema_100          32657 non-null  float64
 18  ema_200          32557 non-null  float64
 19  kst              32742 non-null  float64
 20  kst_diff         32742 non-null  float64
 21  kst_sig          32742 non-null  float64
 22  macd_line        32731 non-null  float64
 23  macd_signal      32723 non-null  float64
 24  mass_index       32716 non-null  float64
 25  parabolic_sar    32756 non-null  float64
 26  sma_14           32743 non-null  float64
 27  sma_20           32737 non-null  float64
 28  sma_50           32707 non-null  float64
 29  sma_100          32657 non-null  float64
 30  sma_200          32557 non-null  float64
 31  stc              32685 non-null  float64
 32  trix             32713 non-null  float64
 33  vortex_ind_diff  32742 non-null  float64
 34  vortex_neg       32742 non-null  float64
 35  vortex_pos       32742 non-null  float64
 36  wma_9            32743 non-null  float64
 37  wma_20           32737 non-null  float64
 38  wma_50           32707 non-null  float64
 39  wma_100          32657 non-null  float64
 40  datetime         32756 non-null  object
 41  Date             32756 non-null  object
dtypes: float64(39), object(3)
memory usage: 10.5+ MB

In [42]:
df["Date"] = df["timestamp"]
df["Date"]= pd.to_datetime(df["Date"]).dt.date
df

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,trix,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,datetime,Date
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 20:00:00,2019-09-08
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 21:00:00,2019-09-08
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 22:00:00,2019-09-08
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 23:00:00,2019-09-08
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-09 00:00:00,2019-09-09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,0.016418,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970,2023-06-03 20:00:00,2023-06-03
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,0.015782,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644,2023-06-03 21:00:00,2023-06-03
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,0.014471,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198,2023-06-03 22:00:00,2023-06-03
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,0.012502,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000,2023-06-03 23:00:00,2023-06-03
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,0.009703,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782,2023-06-04 00:00:00,2023-06-04

In [51]:
df["Date"]= pd.to_datetime(df["Date"])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32756 entries, 0 to 32755
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   timestamp        32756 non-null  object
 1   open             32756 non-null  float64
 2   high             32756 non-null  float64
 3   low              32756 non-null  float64
 4   close            32756 non-null  float64
 5   volume           32756 non-null  float64
 6   adx              32756 non-null  float64
 7   adx_neg          32756 non-null  float64
 8   adx_pos          32756 non-null  float64
 9   aroon_down       32743 non-null  float64
 10  aroon            32743 non-null  float64
 11  aroon_up         32743 non-null  float64
 12  cci              32737 non-null  float64
 13  dpo              32737 non-null  float64
 14  ema_14           32743 non-null  float64
 15  ema_20           32737 non-null  float64
 16  ema_50           32707 non-null  float64
 17  ema_100          32657 non-null  float64
 18  ema_200          32557 non-null  float64
 19  kst              32742 non-null  float64
 20  kst_diff         32742 non-null  float64
 21  kst_sig          32742 non-null  float64
 22  macd_line        32731 non-null  float64
 23  macd_signal      32723 non-null  float64
 24  mass_index       32716 non-null  float64
 25  parabolic_sar    32756 non-null  float64
 26  sma_14           32743 non-null  float64
 27  sma_20           32737 non-null  float64
 28  sma_50           32707 non-null  float64
 29  sma_100          32657 non-null  float64
 30  sma_200          32557 non-null  float64
 31  stc              32685 non-null  float64
 32  trix             32713 non-null  float64
 33  vortex_ind_diff  32742 non-null  float64
 34  vortex_neg       32742 non-null  float64
 35  vortex_pos       32742 non-null  float64
 36  wma_9            32743 non-null  float64
 37  wma_20           32737 non-null  float64
 38  wma_50           32707 non-null  float64
 39  wma_100          32657 non-null  float64
 40  datetime         32756 non-null  object
 41  Date             32756 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(39), object(2)
memory usage: 10.5+ MB

In [55]:
merged_df_sp = pd.merge(df, df1, on=['Date', 'Date'], how='left')
merged_df_sp

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,datetime,Date,Close*
0,2019-09-08 20:00:00,10000.00,10000.00,10000.00,10000.00,0.002,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 20:00:00,2019-09-08,NaN
1,2019-09-08 21:00:00,10000.00,10000.00,10000.00,10000.00,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 21:00:00,2019-09-08,NaN
2,2019-09-08 22:00:00,10344.77,10357.53,10337.43,10340.12,471.659,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 22:00:00,2019-09-08,NaN
3,2019-09-08 23:00:00,10340.12,10368.64,10334.54,10351.42,583.271,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-08 23:00:00,2019-09-08,NaN
4,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-09-09 00:00:00,2019-09-09,"2,978.43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32751,2023-06-03 20:00:00,27239.40,27246.40,27101.00,27147.60,15130.376,18.708794,18.504507,24.341987,57.142857,...,0.065341,0.917674,0.983015,27175.009524,27168.372381,27127.760392,27073.676970,2023-06-03 20:00:00,2023-06-03,NaN
32752,2023-06-03 21:00:00,27147.70,27173.70,27113.90,27138.80,6229.878,18.345606,17.639144,23.203634,50.000000,...,0.031675,0.984213,1.015887,27171.560000,27165.705238,27130.293333,27073.819644,2023-06-03 21:00:00,2023-06-03,NaN
32753,2023-06-03 22:00:00,27138.90,27153.60,27000.00,27084.90,15389.644,17.605659,24.112411,20.545851,100.000000,...,-0.113904,1.006104,0.892200,27161.040952,27158.451429,27130.667137,27072.988198,2023-06-03 22:00:00,2023-06-03,NaN
32754,2023-06-03 23:00:00,27084.90,27119.50,27042.00,27052.70,7760.747,16.918564,22.699622,19.342033,100.000000,...,-0.173782,1.079289,0.905507,27146.839048,27148.811429,27129.670745,27071.634000,2023-06-03 23:00:00,2023-06-03,NaN
32755,2023-06-04 00:00:00,27052.80,27069.30,26900.00,26990.00,18405.196,17.698114,30.110512,16.998897,100.000000,...,-0.291848,1.094035,0.802186,27125.388571,27133.696190,27126.143216,27069.165782,2023-06-04 00:00:00,2023-06-04,NaN

In [54]:
merged_df_sp2 = merged_df_sp.drop(['datetime','Date'],axis = 1)
merged_df_sp2

,timestamp,open,high,low,close,volume,adx,adx_neg,adx_pos,aroon_down,...,stc,trix,vortex_ind_diff,vortex_neg,vortex_pos,wma_9,wma_20,wma_50,wma_100,Close*
0,2019-09-09 00:00:00,10351.42,10391.90,10324.77,10391.90,689.759,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,978.43"
1,2019-09-09 01:00:00,10392.59,10412.65,10375.58,10375.58,675.394,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,978.43"
2,2019-09-09 02:00:00,10375.58,10392.25,10366.57,10391.63,676.206,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,978.43"
3,2019-09-09 03:00:00,10391.63,10391.63,10391.63,10391.63,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,978.43"
4,2019-09-09 04:00:00,10391.63,10391.63,10391.63,10391.63,0.000,0.000000,0.000000,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"2,978.43"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22590,2023-06-02 19:00:00,27081.30,27111.10,27017.70,27047.60,12471.296,16.032650,17.327682,24.426146,78.571429,...,56.252410,0.013908,0.182954,0.930771,1.113725,27048.254286,27031.636667,26969.640784,27096.368396,"4,282.37"
22591,2023-06-02 20:00:00,27047.50,27086.10,27009.00,27045.10,6761.855,16.013184,17.097154,23.494438,71.428571,...,71.881467,0.014217,0.085867,0.962671,1.048538,27046.826667,27036.532381,26973.031059,27091.756495,"4,282.37"
22592,2023-06-02 21:00:00,27045.10,27185.00,26985.10,27183.20,15366.310,16.686459,15.451501,25.995122,64.285714,...,82.821371,0.015386,0.061023,0.963972,1.024995,27063.240952,27053.800952,26981.723294,27090.047109,"4,282.37"
22593,2023-06-02 22:00:00,27183.20,27279.00,27114.80,27231.60,22673.073,17.872072,14.239110,28.447297,57.142857,...,89.854012,0.017399,0.075588,0.958959,1.034547,27084.856190,27074.185238,26992.113961,27089.414713,"4,282.37"
22594,2023-06-02 23:00:00,27231.50,27265.90,27159.30,27159.30,9943.052,18.972998,13.498603,26.967891,50.000000,...,94.151676,0.019334,0.110680,0.943132,1.053812,27095.961905,27085.653810,26999.522431,27087.427960,"4,282.37"